*{
    margin:0;
    padding:0;

}
.card{
    width:200px;
    box-shadow:0 0 10px;
    color: teal;
    border-radius:5px;
    margin:50px;
}
.imgc{
    width:100%;
    position:relative;

}
.imgc img{
    width:100%;
    border-radius:5px;
}
.imgc span{
    position:absolute;
    top:10px;
    right:10px;
    display: block;
    background:teal;
    width:50px;
    text-align:center;
    color:white;
    border-radius:5px;
    cursor:pointer;

}
.details{
    padding:20px 10px;
}
.details-name  p{
    font-size: 22px;
   
    font-size: Arial,;
}
.details-rating {
    
   margin-top:10px;

}
.details-rating i{

    color:rgb(128, 3, 237);

}
.details-rating span{
    font-weight: 700;

}
.details-price{
    font-size: 18px;
    font-weight: 600;
}